{% extends "base.html" %}

{% block head %}
	{{ parent() }}
	
	<script type="text/javascript" src="{{ installpath }}../scripts/sillaj.js"></script>
{% endblock %}
{% block title %}{% if new == true %}Add{% else %}Edit{% endif %}User{% endblock %}
{% block submenu1 %}
	<ul>
		<li><a href="{{ installpath }}add/">Add user</a></li>
	</ul>
{% endblock %}
{% block content %}
<form action="{{ installpath }}edit/{{ userId }}" id="frmUser" method="post" onsubmit="return frmUser_onsubmit(this, true);" autocomplete="off">
<fieldset>    
<legend>Edit user information</legend>
<input type="hidden" name="strUserId" value="{{ userId }}" />
<input type="hidden" name="status" value="{{ new }}" />
<label for="strUserId" accesskey="l"><span class="accesskey">L</span>ogin</label><input type="text" id="strUserId" name="strUserId" {% if new == false %}disabled="disabled"{% endif %} value="{{ userId }}" /><br />     
<label for="strName" accesskey="n"><span class="accesskey">N</span>ame</label><input type="text" id="strName" name="strName" value="" /><br />
<label for="strFirstname" accesskey="f"><span class="accesskey">F</span>irst name</label><input type="text" id="strFirstname" name="strFirstname" value="" /><br />
<label for="strPassword" accesskey="p"><span class="accesskey">P</span>assword</label><input type="password" id="strPassword" name="strPassword" /> not modified if left empty<br />
<label for="strEmail" accesskey="e" ><span class="accesskey">E</span>mail</label><input type="text" id="strEmail" name="strEmail" value="" /><br />
<label for="cbxUseShare" accesskey="u"><input id="cbxUseShare" name="cbxUseShare" type="checkbox" checked="checked" /><span class="accesskey">U</span>se shared projects and tasks</label><br />  
<label for="cbxAdmin" accesskey="a"><input id="cbxAdmin" name="cbxAdmin" type="checkbox" checked="checked" />Super<span class="accesskey">A</span>min?</label><br />  
<label for="strLanguage" accesskey="l"><span class="accesskey">L</span>anguage</label>
<select id="strLanguage" name="strLanguage">
<option value="de">Deutsch</option>
<option value="nl">Dutch</option>
<option value="en" selected="selected">English</option>
<option value="fr">Français</option>
<option value="sv">Svensk</option>
</select><br />
<label for="strTemplate" accesskey="t"><span class="accesskey">T</span>emplate</label>
<select id="strTemplate" name="strTemplate">
<option value="default" selected="selected">default</option>
</select><br />
<button type="submit" accesskey="o"><span class="accesskey">O</span>K</button>
<button type="reset" accesskey="r"><span class="accesskey">R</span>eset</button>
</fieldset>
</form>
{% endblock %}