<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ installpath }}style.css" />
            <title>{{ pageheader }} - Projector</title>
        {% endblock %}
    </head>
    <body>
		<div id="header">
			<h1 style="color: green;"><a href="{{ installpath }}">Projector</a></h1>
			<h2>{{ pageheader }}</h2>
		</div>
		<hr />
		{% if menu == true %}
			<div id="menu">
				<ul>
					<li><a href="{{ installpath }}">Users</a></li>
					<li><a href="{{ installpath }}projects/">Projects</a></li>
					<li><a href="{{ installpath }}tasks/">Tasks</a></li>
					<li><a href="{{ installpath }}logout/">Logout</a></li>
				</ul>
			</div>
		{% endif %}
        <div id="content">{% block content %}{% endblock %}</div>
		<hr />
        <div id="footer">
            {% block footer %}
                <a href="http://projector.lv/">Projector</a> is created by <a href="http://digiblink.eu/">digiBlink</a>.
            {% endblock %}
        </div>
    </body>
</html>