{% extends "base.html" %}

{% block title %}User Admin{% endblock %}
{% block head %}
	{{ parent() }}
	
	<script type="text/javascript" src="{{ installpath }}script.js"></script>
{% endblock %}
{% block submenu1 %}
	<ul id="submenu1">
		<li><a href="{{ installpath }}add/">Add user</a></li>
	</ul>
{% endblock %}
{% block content %}
	{% if allusers|length > 0 %}
    	<table>
			<tr>
				<th>Username</th>
				<th>Firstname</th>
				<th>Surname</th>
				<th>E-mail</th>
				<th>Active?</th>
				<th>Admin?</th>
				<th>Delete?</th>
			</tr>
			{% set altrow = true %}
        	{% for user in allusers %}
            	<tr{% if altrow == true %} class="altrow"{% set altrow = false %}{% else %}{% set altrow = true %}{% endif %}>
					<td><a href="{{ installpath }}edit/{{ user.strUserId|e }}">{{ user.strUserId|e }}</a></td>
					<td>{{ user.strName|e }}</td>
					<td>{{ user.strFirstname|e }}</td>
					<td>{{ user.strEmail|e }}</td>
					<td class="center">{% if user.booActive == 1 %}<img src="{{ installpath }}img/tick.png" alt="" />{% else %}&nbsp;{% endif %}</td>
					<td class="center">{% if user.booAdmin == 1 %}<img src="{{ installpath }}img/tick.png" alt="" />{% else %}&nbsp;{% endif %}</td>
					<td class="center"><a href="#" onclick="deleteUser('{{ user.strUserId|e }}', '{{ installpath }}delete/{{ user.strUserId|e }}');"><img src="{{ installpath }}img/delete.png" alt="Delete user?" /></a></td>
				</tr>
        	{% endfor %}
    	</table>
	{% else %}
		<p class="important">
			No users found in system!
		</p>
	{% endif %}
{% endblock %}