{% extends "base.html" %}

{% block content %}
	<div id="loginwindow">
		<div class="message">{{ errormsg }}</div>
		
		<form action="{{ installpath }}login/" method="post" accept-charset="utf-8">
			<p>
				<label for="email">Username:</label><br />
				<input type="text" name="username" value="" />
			</p>
			<p>
				<label for="password">Password:</label><br />
				<input type="password" name="password" value="" />
			</p>
			<p>
				<input type="submit" name="submit" value="Login!" />
			</p>
		</form>

	</div>

	<p class="center">Go <a href="{{ installpath }}../">back</a> to system.</p>
{% endblock %}